<html lang="en">
  <head>
    <title>Virtual Business Card</title>
      <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  </head>
  <body>
      <!-- I use and modified a template from w3doc form-->
    
    <div id="businessForm">
      {{#if _cardId}}
        <input id="kjhsitaasdasdasdasdfcvxcvxvl" type="hidden" value={{_cardId}} />
      {{else}}
        <input id="kjhsitaasdasdasdasdfcvxcvxvl" type="hidden"/>
      {{/if}}
    </div>
    <div id="messageBox">
    <h3><span id="errorMessage">Wrong username or password</span></h3>
    </div>
    <div id="content" ></div>
    <script src="/assets/makerBundle.js"></script>
  </body>
</html>