html, body {
    min-height: 100%;
}
body, div, form, input, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}
#businessForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 #F48668; 
}
.banner {
    position: relative;
    height: 210px;
    background-color: #F4A698;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner input {
    width: 50%;
    font-size: 30;
    height: auto;
}


.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
input, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item:hover p, input:hover::placeholder {
    color: #F48668;
}
.item input:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #F48668;
    color: #F48668;
}
.item {
    position: relative;
    margin: 10px 0;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #F48668;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #F48668;
}
#content {
    margin-top: 30px;
    text-align: center;
}
@media (min-width: 568px) {
    .name-item, .contact-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .contact-item .item {
        width: calc(50% - 8px);
    }
    .name-item input {
        width: calc(50% - 20px);
    }
    .contact-item input {
        width: calc(100% - 12px);
    }
}
.pop-up{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up-content{
    width: 500px;
    height: 300px;
    background-color:white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    caret-color: transparent;
}
