html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    padding-left: 5px;
    float:left;
    border-radius: 10px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #DD614A;
}

nav:nth-child(1) {
    padding-left: 25px;
}


.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #F48668;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #C5C392;
}

#setting {
    position: relative;
    width: 15rem;
    height: auto;
    float: right;
}

nav #gear {
    width: 30px;
    height: 30px;
    padding-top: 12px;
    padding-right: 20px;
    float: right;
    position: relative;
}

#drop-down-list{
    border-radius: 4px;
    background-color: rgba(197, 195, 146, 1);
    position: absolute;
    top:110%;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}
.drop-down-select{
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}


.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: auto;
    background-color: #F48668;
    border-radius: 2px;
    border-color: #DD614A;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #C5C392;
}

#user, #oldpass, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: auto;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #C5C392;
}
#ads{
    display: flex;
    justify-content: center;
    text-align: center;
}
#content{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
#businessCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
}
#businessCards div{
    margin: 30px;
    font-size: 20;
    color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#businessCards div img{
    width: 200px;
    height: 200px;
}
#messageBox {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#messageBox h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: #F48668;
    font-style: italic;
}

#card {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#cards {
    width: 40%;
    min-width: 400px;
    border: 2px solid #C5C392;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.pop-up{
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up-content{
    width: 500px;
    height: 300px;
    background-color: #C5C392;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.pop-up-content button{
    transition: background-color 0.4s ease;
    width: 100px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    background-color: #F48668;
    border-radius: 10px;
    border-color: #DD614A;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}
.pop-up-content button:hover {
    transition: background-color 0.4s ease;
    background-color: #C5C392;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    caret-color: transparent;
}